In [20]:
import pandas as pd
from sqlalchemy import create_engine

In [21]:
! wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

! wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

! gzip -d green_tripdata_2019-01.csv.gz

--2023-01-22 12:58:30--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230122T095831Z&X-Amz-Expires=300&X-Amz-Signature=0b5770d5c9256191870ce018337f4100dfce2a2a372d5148c71dc47b9aa63323&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-22 12:58:31--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230122T095831Z&X-Amz-Expires=300&X-Amz-Signature=0b5770d5c9256191870ce018337f4100dfce2a2a372d5148c71dc47b9aa63323&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-01.csv.gz’

green_tripdata_2019 100%[===================>]  10.58M  4.61MB/s    in 2.3s

2023-01-22 12:58:34 (4.61 MB/s) - ‘green_tripdata_2019-01.csv.gz’ saved [11099245/11099245]

--2023-01-22 12:58:34--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.107.134, 52.216.25.110, 52.216.113.37, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.107.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2023-01-22 12:58:35 (8.43 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [22]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [23]:
df = pd.read_csv('green_tripdata_2019-01.csv')

In [24]:
df.head(0).to_sql(name ='green_tripdata_2019_01', con=engine, if_exists = 'replace')

df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

df.to_sql(name='green_tripdata_2019_01', con=engine, if_exists='append')

918

In [25]:
df1 = pd.read_csv('taxi+_zone_lookup.csv')

In [26]:
df1.head(0).to_sql('taxi_zone_lookup', con = engine, if_exists='replace')
df1.to_sql('taxi_zone_lookup', con=engine, if_exists='append')

265

In [27]:
# Question 3: Count records
query ="""
SELECT COUNT(*) cnt_trips
  FROM green_tripdata_2019_01
 WHERE 1 = 1
   AND lpep_pickup_datetime::DATE = '2019-01-15'
   AND lpep_dropoff_datetime::DATE = '2019-01-15'"""

pd.read_sql(query, con = engine)

   cnt_trips
0      20530

In [28]:
# Question 4: Largest trip for each day
query = """
SELECT lpep_pickup_datetime::DATE AS largest_trip
  FROM green_tripdata_2019_01
 ORDER BY trip_distance DESC
 LIMIT 1"""

pd.read_sql(query, con=engine)

  largest_trip
0   2019-01-15

In [29]:
# Question 5. The number of passengers
query ="""
WITH two_pass AS (
    SELECT 'Trips with two passengers' AS description
         , COUNT(*)
      FROM "green_tripdata_2019_01"
     WHERE passenger_count = 2
       AND lpep_pickup_datetime::DATE = '2019-01-01')
 , three_pass AS (
    SELECT 'Trips with three passengers' AS description, COUNT(*)
      FROM "green_tripdata_2019_01"
     WHERE passenger_count = 3
       AND lpep_pickup_datetime::DATE = '2019-01-01'
)
SELECT *
  FROM two_pass
 UNION
SELECT *
  FROM three_pass"""

pd.read_sql(query, con = engine)

                   description  count
0  Trips with three passengers    254
1    Trips with two passengers   1282

In [30]:
# Question 6. Largest tip

query = """
SELECT gt.tip_amount
     , tz."Zone"  AS picked_zone
     , tz1."Zone" AS drop_zone
  FROM green_tripdata_2019_01 gt
  LEFT JOIN taxi_zone_lookup tz
    ON gt."PULocationID" = tz."LocationID"
  LEFT JOIN taxi_zone_lookup tz1
    ON gt."DOLocationID" = tz1."LocationID"
 WHERE tz."Zone" = 'Astoria'
 ORDER BY tip_amount DESC
 LIMIT 1"""

pd.read_sql(query, con = engine)

   tip_amount picked_zone                      drop_zone
0        88.0     Astoria  Long Island City/Queens Plaza